* {
  margin: 0;
}

html{
    font-size: .75em;
}

body {
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav{
  display: flex;
  /* background-color: white; */
  padding: 1.5rem 1rem;
  color: #12c2e9;
  
}
nav a{
  text-decoration: none;
  
}
nav ul{
  list-style: none;
  /* background-color: rgb(56, 66, 66); */
  display: flex;
  width: 100%;
  color: #fc202f;
  
}
.logo{
  font-size: 1.5em;
}
nav ul li{
  font-size: 1.3em;
/* background-color: tomato; */
margin-right: 1rem;
border-radius: 5px;
box-shadow: 0 0 10px 2px;
padding: .25em;

/* justify-content: center; */
}
nav ul li a{
  
}
nav ul li:nth-of-type(1){
  margin-left: auto;
}
nav ul li:nth-of-type(5){
  
  margin-left: auto;
  
  
}
section{
    height: 100%;
    padding: 10vh 0;
    position: relative;
}

.container {
 
  width: min(80%, 500rem);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-flow: row wrap;
}
.container::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 10%;
    margin: 10px auto;
    border: dotted rgba(250, 235, 215, 0.568) 6px;
    border-bottom: none;
}
.content{
    margin: 1rem;
    flex: 1 15em;
}
.em {
  font-size: 1em;
  
  
}

.em h1 {
  font-size: 2.5em;
  margin-bottom: .5rem
}
.em p {
  font-size: 1.5em;
  margin-bottom: .5rem
}
.rem {
  /* font-size: 50px; */
  
}

.rem h1 {
    font-size: 2.5em;
    margin-bottom: .5rem
}
.rem p {
    font-size: 1.5em;
    margin-bottom: .5rem
}
.px h1 {
  font-size: 30px;
  margin-bottom: .5rem
}

.px p {
  font-size: 20px;
  margin-bottom: .5rem
}
.percentage {
  font-size: 16px
}
.percentage h1 {
  font-size: 200%;
  margin-bottom: .5rem
}
.percentage p {
    font-size: 150%;
    margin-bottom: .5rem
  }
.vw{
    font-size: 16px
}
.vw h1 {
  font-size: 6vw;
  margin-bottom: .5rem
}
.vmin h1{
    font-size: 10vmin;
}
.vmax h1{
    font-size: 10vmax;
}
.call-to-action {
    background: linear-gradient(to left, #f46b45 , #eea849);
    padding: 3em 0;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, .5);
    margin-top: 500px;
    font-size: 1em;
    
  }
@media (min-width: 768px) {
  html {
    font-size: 1em;
  }
  section{
    height: 100vh;
    
}

  /* .px h1{
        font-size: 30px;
    }
    
    .px p{
        font-size: 20px;
    } */
}
@media(min-width:576px){
    
}
